@import url("https://fonts.googleapis.com/css?family=Pacifico");
body {
  background-color: #5C4ED4;
  color: white;
  text-align: center;
  font-weight: 100;
}

h1 {
  font-family: "Pacifico", cursive;
}

h2 {
  font-weight: 100;
}

.row {
  margin: 50px 25px;
}
